* {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

body {
  background-color: #092235;
  margin: auto;
  padding: 1rem;
}

.about {
  display: flex;
  flex-direction: column;
  color: #d3dfc3;
  font-size: 1.15rem;
  width: 45rem;
  margin: auto;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.contact {
  text-align: left;
  padding-bottom: 1rem;
}

a {
  text-decoration: underline;
  color: #d3dfc3;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
}

.your-text {
  background-color: #f6f7f7;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  width: 400px;
  margin: auto;
}

button {
  background-color: #d3dfc3;
  border-radius: 0.5rem;
  border-style: none;
  color: #303030;
  font-size: 1.45rem;
  font-weight: 600;
  padding: 0.75rem;
  margin: 0.25rem;
  min-width: 2rem;
  align-content: center;
}

button:hover {
  background-color: #d3dfc354;
}

button:active {
  background-color: #4c756e;
}

.form-btn {
  display: flex;
  padding: 1rem;
}

.copy-btn {
  margin: 0.75rem;
  padding: 0.75rem 4rem 0.75rem 4rem;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(11, minmax(2rem, 5rem));
  grid-gap: 2px;
  margin: auto;
  max-width: 800px;
  background-color: #4c756e;
  border-radius: 0.5rem;
  padding: 1rem;
}

@media (max-width: 600px) {
  .about {
    width: 75%;
  }

  .your-text {
    margin: 0;
    width: fit-content;
  }

  .form-btn {
    display: flex;
    flex-direction: row;
    flex-grow: 4;
  }

  .copy-btn {
    margin: 0.5rem;
    padding: 0.75rem 3rem 0.75rem;
  }

  .keyboard {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 450px) {
  .keyboard {
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem;
  }
}
