* {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

body {
  background-color: #2d3319;
  margin: auto;
  padding: 5rem;
}

button {
  background-color: #9fd8cb;
  border-radius: 0.5rem;
  border-style: none;
  color: #303030;
  font-size: 1.25rem;
  padding: 0.75rem;
  margin: 0.25rem;
}

.your-text {
  background-color: #f6f7f7;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  width: 75%;
}

.text {
  display: flex;
  align-items: center;
}

.copy-btn {
  margin: 1rem;
  padding: 0.5rem;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  background-color: #517664;
  border-radius: 0.5rem;
  padding: 1rem;
}
